<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Главная страница</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="/favicon.ico">
		<link rel="stylesheet" href="../../css/main.css">
		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
		<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="192x192" href="../../favicon/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
		<link rel="manifest" href="../../favicon/site.webmanifest">
		<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#eb2d2e">
		<meta name="msapplication-TileColor" content="#eb2d2e">
		<meta name="msapplication-TileImage" content="../../favicon/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div class="content">
			<div class="s-main">
				<nav class="fp-menu" id="menu">
					<ul class="fp-menu__list">
						<li class="fp-menu__item fp-menu__item_main active fp-menu__item_rain_active"><a class="fp-menu__link" href="rain.html"></a></li>
						<li class="fp-menu__item fp-menu__item_season fp-menu__item_rain_active"><a class="fp-menu__link" href="rain2.html"></a></li>
						<li class="fp-menu__item fp-menu__item_gallery fp-menu__item_rain_active"><a class="fp-menu__link" href="rain3.html"></a></li>
						<li class="fp-menu__item fp-menu__item_reviews fp-menu__item_rain_active"><a class="fp-menu__link" href="rain4.html"></a></li>
						<li class="fp-menu__item fp-menu__item_gallery fp-menu__item_rain_active"><a class="fp-menu__link" href="rain5.html"></a></li>
						<li class="fp-menu__item fp-menu__item_reviews fp-menu__item_rain_active"><a class="fp-menu__link" href="rain6.html"></a></li>
					</ul>
				</nav>
				<div class="fullpage">
					<section class="widget widget_fullheight section section-season compare" data-anchor="section-season">
						<div class="img-compare" data-direct="center">
							<div class="images-compare-before summer water_drop" data-catalog="false">
								<div class="compare-wrapper">
									<div class="images-compare-label">
										<div class="tyre-choice-item__caption-picture">
											<svg class="tyre-choice-item__caption-img">
												<use xlink:href="../../img/svg-sprite/symbol/svg/sprite.symbol.svg#sun"></use>
											</svg>
										</div><span class="title">Летние шины  </span>
									</div><img class="compr hidden" src="../../img/tire-choice_bg_summer.jpg" alt="Зимние шины">
									<div class="compr" id="background-rain1"></div><img class="wheel" src="../../img/tire_summer_facet.png" alt="Летние шины">
									<div class="wheel_bg">
										<div class="rotate">
											<div class="shadow"></div><img src="../../img/bg_tw-z-wheel.png" alt="Зимние шины">
										</div>
									</div>
									<div class="mask_wheel">
										<div id="mask_before"></div>
									</div>
								</div>
								<div class="season_wrap">
									<div class="h2">Лето
										<div class="tyre-choice-item__caption-picture">
											<svg class="tyre-choice-item__caption-img">
												<use xlink:href="../../img/svg-sprite/symbol/svg/sprite.symbol.svg#sun"></use>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="images-compare-after winter" data-catalog="false">
								<div class="compare-wrapper">
									<div class="images-compare-label">
										<div class="tyre-choice-item__caption-picture">
											<svg class="tyre-choice-item__caption-img">
												<use xlink:href="../../img/svg-sprite/symbol/svg/sprite.symbol.svg#snowflake"></use>
											</svg>
										</div><span class="title">Зимние шины</span>
									</div><img class="compr" src="../../img/tire-choice_bg_winter.jpg" alt="Зимние шины"><img class="wheel" src="../../img/tire_winter_facet.png" alt="Зимние шины">
									<div class="wheel_bg">
										<div class="rotate">
											<div class="shadow"></div><img src="../../img/bg_tw-l-wheel.png" alt="Зимние шины">
										</div>
									</div>
									<canvas id="canv"></canvas>
								</div>
								<div class="season_wrap">
									<div class="h2">Зима
										<div class="tyre-choice-item__caption-picture">
											<svg class="tyre-choice-item__caption-img">
												<use xlink:href="../../img/svg-sprite/symbol/svg/sprite.symbol.svg#snowflake"></use>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="separator" id="handle">
								<div class="images-compare-handle twentytwenty-handle"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!--include parts/_footer-->
			<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/plugins/CSSPlugin.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/easing/EasePack.min.js"></script>
			<script type="text/javascript" src="../js/vendor/jquery-3.3.1.js"></script>
			<script type="text/javascript" src="../js/drupal.behavior.js"></script>
			<script type="text/javascript" src="../../js/vendor/ScrollMagic.js"></script>
			<script type="text/javascript" src="../../js/vendor/TweenMax.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/animation.gsap.js"></script>
			<script type="text/javascript" src="../../js/vendor/custom-select.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/dragdealer.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.custom-select.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.magnific-popup.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.mCustomScrollbar.concat.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.scrollbar.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.mousewheel.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/slick.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/fontawesome-all.js"></script>
			<script type="text/javascript" src="../../js/vendor/dragscroll.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.fullPage.js"></script>
			<script type="text/javascript" src="../../js/vendor/scrolloverflow.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.event.move.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.twentytwenty.js"></script>
			<script type="text/javascript" src="../../js/vendor/rainyday.min.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.inputmask.bundle.js"></script>
			<script type="text/javascript" src="../../js/vendor/phone.js"></script>
			<script type="text/javascript" src="../../js/vendor/phone-be.js"></script>
			<script type="text/javascript" src="../../js/vendor/phone-ru.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.gifplayer.js"></script>
			<script type="text/javascript" src="../../js/vendor/jquery.star-rating-svg.js"></script>
			<script type="text/javascript" src="../../js/vendor/trunk8.js"></script>
			<script type="text/javascript" src="../../js/vendor/vue.js"></script>
			<script type="text/javascript" src="../../js/vendor/swiper.js"></script>
			<script type="text/javascript" src="../../js/vendor/svg_use.js"></script>
			<script type="text/javascript" src="../../js/main.js"></script>
			<script src="../../js/youtube.js"></script>
			<script src="../../js/index.js"></script>
		</div>
	</body>
</html>