
Options +FollowSymLinks
<FilesMatch "yandex_b404cc047e5192b2.html$"> 
RewriteEngine off 
</FilesMatch>
#<FilesMatch "robots.txt$">
#RewriteEngine off
#</FilesMatch>
<FilesMatch "google7a4a1be795db7691.html$"> 
RewriteEngine off 
</FilesMatch>
RewriteEngine On

#AuthName "Input password"
#AuthType Basic
#AuthUserFile "/home/u56146/test.utilauto.ru/www/.htpasswd"
#<Limit GET POST>
#require valid-user
#</Limit>

<Files xmlrpc.php>
Deny from all 
</Files>


RewriteEngine On
RewriteRule ^positions.php$ positions.php [L]
RewriteCond %{HTTP_HOST} ^utilauto.ru
RewriteRule ^(.*)$ http://xn--80aaafc0cbprbuoim0m.xn--p1acf/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.utilauto.ru
RewriteRule ^(.*)$ http://www.xn--80aaafc0cbprbuoim0m.xn--p1acf/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^evakuator-moskva.su
RewriteRule ^(.*)$ http://xn--80aaafc0cbprbuoim0m.xn--p1acf/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www.evakuator-moskva.su
RewriteRule ^(.*)$ http://www.xn--80aaafc0cbprbuoim0m.xn--p1acf/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.utilauto.ru$ [NC]
RewriteRule ^(.*)$ http://utilauto.ru/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteRule ^(.*)$ http://xn--80aaafc0cbprbuoim0m.xn--p1acf/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteRule ^(.*)$ http://xn--80aaafc0cbprbuoim0m.xn--p1acf/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.evakuator-moskva.su$ [NC]
RewriteRule ^(.*)$ http://evakuator-moskva.su/$1 [R=301,L]

RewriteCond %{HTTP_HOST} !^www.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^evakuator-moskva.su$ [NC]
RewriteCond %{HTTP_HOST} !^www.evakuator-moskva.su$ [NC]
RewriteCond %{HTTP_HOST} !^www.utilauto.ru$ [NC]
RewriteCond %{HTTP_HOST} !^utilauto.ru$ [NC]
RewriteCond %{HTTP_HOST} !^xn--80aa2abiahfw1a.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--80aaab1bq6ewa.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--80aajia3agnnnq6b5f.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--80ablnkrs4e.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--80agtcngblfff.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--90aiqw4a4aq.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--b1admucdb5d.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--b1aedk0ag.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--b1af1aglf.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--b1afoeoan.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--b1afuehhv0a3f.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--b1amdbbjobzd.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--c1abbuhodcjk7a6g.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--d1acdchahg0a1ao.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--d1asblu7d.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--e1agafceof0b4g.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--h1aafh7b.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--h1aaky0bj.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--h1aekhj1a.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteCond %{HTTP_HOST} !^xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
RewriteRule ^(.*)$ http://xn--80aaafc0cbprbuoim0m.xn--p1acf/$1 [R=301,L]


  RewriteCond %{HTTP_HOST} ^balashiha.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
  RewriteRule ^(.*)$ http://xn--80aaafc0cbprbuoim0m.xn--p1acf/balashiha/ [L]


#Redirect 301 /uslugi-evakuatora/ http://evakuator-moskva.su/
#Redirect 301 /vizov-evakuatora/ http://evakuator-moskva.su/
#Redirect 301 /vyzov-evakuatora/ http://evakuator-moskva.su/


RewriteCond %{HTTP_HOST} !^www.xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
    RewriteCond %{HTTP_HOST} ^(.+).xn--80aaafc0cbprbuoim0m.xn--p1acf$ [NC]
    RewriteRule ^robots.txt$ %1.txt [L]


RewriteRule ^evakuator-aprelevka/$ /podmoskove/evakuator-aprelevka/$1 [R=301,L]
RewriteRule ^evakuator-balashiha/$ /podmoskove/evakuator-balashiha/$1 [R=301,L]
RewriteRule ^evakuator-vidnoe/$ /podmoskove/evakuator-vidnoe/$1 [R=301,L]
RewriteRule ^evakuator-dzerzhinsky/$ /podmoskove/evakuator-dzerzhinsky/$1 [R=301,L]
RewriteRule ^evakuator-dolgoprudniy/$ /podmoskove/evakuator-dolgoprudniy/$1 [R=301,L]
RewriteRule ^evakuator-korolev/$ /podmoskove/evakuator-korolev/$1 [R=301,L]
RewriteRule ^evakuator-krasnogorsk/$ /podmoskove/evakuator-krasnogorsk/$1 [R=301,L]
RewriteRule ^evakuator-lyubertsy/$ /podmoskove/evakuator-lyubertsy/$1 [R=301,L]
RewriteRule ^evakuator-mytishi/$ /podmoskove/evakuator-mytishi/$1 [R=301,L]
RewriteRule ^evakuator-odintsovo/$ /podmoskove/evakuator-odintsovo/$1 [R=301,L]
RewriteRule ^evakuator-sxodnya/$ /podmoskove/evakuator-sxodnya/$1 [R=301,L]
RewriteRule ^evakuator-troick/$ /podmoskove/evakuator-troick/$1 [R=301,L]
RewriteRule ^evakuator-himki/$ /podmoskove/evakuator-himki/$1 [R=301,L]

#RewriteRule ^podmoskove/evakuator-himki/$ /podmoskove/himki/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-dolgoprudniy/$ /podmoskove/dolgoprudnyi/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-krasnogorsk/$ /podmoskove/krasnogorsk/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-mytishi/$ /podmoskove/mytishi/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-lyubertsy/$ /podmoskove/lyubertsy/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-korolev/$ /podmoskove/korolev/$1 [R=301,L]
RewriteRule ^podmoskove/podmoskove/evakuator-reutov/$ /podmoskove/reutov/$1 [R=301,L]
RewriteRule ^podmoskove/evacuator-sherbinka/$ /podmoskove/sherbinka/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-balashiha/$ /podmoskove/balashiha/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-odintsovo/$ /podmoskove/odintsovo/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-vidnoe/$ /podmoskove/vidnoe/$1 [R=301,L]
#RewriteRule ^podmoskove/evakuator-dzerzhinsky/$ /podmoskove/dzerzhinskiy/$1 [R=301,L]

RewriteRule ^utilizatsiya/$ /services/utilizatsiya/$1 [R=301,L]
RewriteRule ^evakuator-manipulyator/$ /services/evakuator-manipulyator/$1 [R=301,L]
RewriteRule ^pogruzka-vigruzka/$ /services/pogruzka-vigruzka/$1 [R=301,L]
RewriteRule ^evakuaciya-legkovyx-avtomobilej/$ /services/evakuaciya-legkovyx-avtomobilej/$1 [R=301,L]
RewriteRule ^evakuaciya-mikroavtobusov/$ /services/evakuaciya-mikroavtobusov/$1 [R=301,L]
RewriteRule ^evakuaciya-motociklov/$ /services/evakuaciya-motociklov/$1 [R=301,L]
RewriteRule ^perevozka-avtomobilei-k-mestu-stoyanki/$ /services/perevozka-avtomobilei-k-mestu-stoyanki/$1 [R=301,L]
RewriteRule ^evakuaciya-spectexniki/$ /services/evakuator-lyubertsy/$1 [R=301,L]
RewriteRule ^texpomoshh-na-doroge/$ /services/texpomoshh-na-doroge/$1 [R=301,L]
RewriteRule ^evakuaciya-snegoxodov/$ /services/evakuaciya-snegoxodov/$1 [R=301,L]









RewriteRule ^isuzu-nqr71p/$ /avtopark/isuzu-nqr71p/$1 [R=301,L]
RewriteRule ^hyundai-hd-78/$ /avtopark/hyundai-hd-78/$1 [R=301,L]
RewriteRule ^mercedes-814/$ /avtopark/mercedes-814/$1 [R=301,L]
RewriteRule ^valdaj/$ /avtopark/valdaj/$1 [R=301,L]
RewriteRule ^man-8-163/$ /avtopark/man-8-163/$1 [R=301,L]

RewriteRule ^voditel-zasudil-firmy-evakuatorov/$ /news/voditel-zasudil-firmy-evakuatorov/$1 [R=301,L]
RewriteRule ^shtraf-za-nezakonnuyu-parkovku-vyros/$ /news/shtraf-za-nezakonnuyu-parkovku-vyros/$1 [R=301,L]
RewriteRule ^ostanovka-na-putyah/$ /news/ostanovka-na-putyah/$1 [R=301,L]
RewriteRule ^izhevskie-vlasti-ochishhayut-gorod-ot-avto-meshayushhix-dvizheniyu-transporta/$ /news/izhevskie-vlasti-ochishhayut-gorod-ot-avto-meshayushhix-dvizheniyu-transporta/$1 [R=301,L]
RewriteRule ^chastnye-kompanii-budut-provodit-texosmotr-avtomobilej/$ /news/chastnye-kompanii-budut-provodit-texosmotr-avtomobilej/$1 [R=301,L]
RewriteRule ^dvuhurovnenyi-valdaj/$ /news/dvuhurovnenyi-valdaj/$1 [R=301,L]
RewriteRule ^shtrafy-v-madride/$ /news/shtrafy-v-madride/$1 [R=301,L]
RewriteRule ^leningradskiy-prospekt-parkovka-na-trotuare/$ /news/leningradskiy-prospekt-parkovka-na-trotuare/$1 [R=301,L]
RewriteRule ^novyj-evakuator-mercedes-benz-atego-1218l/$ /news/novyj-evakuator-mercedes-benz-atego-1218l/$1 [R=301,L]
RewriteRule ^gibdd-v-podmoskove-iz-za-zhary-perevedena-na-usilennyj-variant-sluzhby/$ /news/gibdd-v-podmoskove-iz-za-zhary-perevedena-na-usilennyj-variant-sluzhby/$1 [R=301,L]
RewriteRule ^narushiteli-ne-boyatsya-shtrafa-300-rublei/$ /news/narushiteli-ne-boyatsya-shtrafa-300-rublei/$1 [R=301,L]
RewriteRule ^ekonom-variant-evakuatora-chajka-servis/$ /news/ekonom-variant-evakuatora-chajka-servis/$1 [R=301,L]

ErrorDocument 404 /404.html





# BEGIN W3TC Browser Cache
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access 7 days"
ExpiresByType application/javascript "access plus 1 year"
ExpiresByType text/javascript "access plus 1 year"
ExpiresByType text/css "access plus 1 year"
ExpiresByType text/html "access plus 7 day"
ExpiresByType text/x-javascript "access 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/x-icon "access 1 year"
ExpiresByType application/x-shockwave-flash "access 1 year"
</IfModule>

<ifModule mod_headers.c>
<filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
<filesMatch "\.(css|js)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
<filesMatch "\.(xml|txt)$">
Header set Cache-Control "max-age=172800, public, must-revalidate"
</filesMatch>
<filesMatch "\.(html|htm|php)$">
Header set Cache-Control "max-age=172800, private, must-revalidate"
</filesMatch>
</ifModule>



# END W3TC Browser Cache



# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
