
.cont_reviews h4 {
font: 16px/20px 'Systopie';
text-align:center;
text-transform:uppercase;
margin-bottom:20px;
height:20px;
background: url(/img/images/rew_h4.png) repeat-x center;
}
.cont_reviews h4 span {
padding: 0 15px;
background: #ffffff;
}
.cont_reviews .desc {
position:relative;
margin-bottom: 36px;
color: #333333;
}
.cont_reviews .desc_left, .cont_reviews .desc_right {
	width:41px;
	height:39px;
	float:left;
	background: url(/img/images/quotes.png) no-repeat left top;
	position:relative;
}
.cont_reviews .desc_right {
	float:right;
	background: url(/img/images/quotes.png) no-repeat -41px top;
	bottom:40px;
}
.cont_reviews .desc_center {
margin: 0 55px ;
font:18px/22px arial;
}
.cont_reviews  p {

font: italic 22px/26px arial;
float: right;
margin-right: -35px;
}
.cont_reviews  a {
text-align: right;
display: block;
width: 210px;
margin: 0 auto;
background: url(/img/images/rew_next.png) no-repeat left top;
font: 11px/15px 'Systopie';
text-decoration: underline;
text-transform: uppercase;
color: #6c6c6c;
letter-spacing:1px;
margin-bottom: 30px;
}
.cont_reviews  a:hover{
	text-decoration: none;
	}
